<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/form/" method="post">{%csrf_token%}
      <h1>StudentApp</h1>
      <input type="text" name="name" placeholder="Enter stu name">
      <input type="text" name="rollno" placeholder="Enterstu rollno">
      <input type="text" name="marks" placeholder="Enter stu marks">
       <button type="submit" name="button">ADDNew</button>
       </form>
       <ul>
     {%for i in data3%}
          <form class="" action="/delete/{{i.id}}/" method="post" style="display:inline;">{%csrf_token%}
             <li>{{i.name}}
                 {{i.rollno}}
                 {{i.marks}}
                 <button type="submit" name="button">delete</button><br>
              </form>

     {%endfor%}


  </body>
</html>
